@font-face {font-family: 'Montserrat';
            src: url('fontes/Montserrat-Black');}

body, p, li, footer, ul{margin: 0px;
                padding: 0px;
                font-size: 1.5rem;
                font-family: 'Montserrat';
                list-style: none;}

body {min-height: 100%;}

a {text-decoration: none;}

.header {display: flex;
         background: #1a1a1a;
         justify-content: space-between;
         align-items: center;
         padding: 5px;
         flex-wrap: wrap;}

.logo {width: 60px;}

.sairContaBotao {font-family: 'Montserrat';
                 border: none;
                 padding: 5px 10px;
                 text-align: center;
                 text-decoration: none;
                 display: inline-block;
                 font-size: 16px;
                 cursor: pointer;
                 border-radius: 8px;
                 border-style: solid;
                 border-color: white;
                 color: black;
                 background-color: white;}

.sairContaBotao:hover {border-style: solid;
                                     border-color: white;
                                     color: white;
                                     background-color: #201c1c;}

.produto {background: #e8e4e4;
         padding: 10px;
         margin-top: 20px;}

.produtoTitulo {float: left;
                margin-right: 20px;}

.produtoAutor {margin-right: 900px;
               margin-left: 50px;}

.produtoFoto {float: left;
              margin-right: 50px}

.produtoVolume {float: left;
                }

.produtoDescricao {float: left;
                   margin-top: 20px;
                   margin-left: 20px;
                   margin-right: 20px;
                   margin-bottom: 20px;}

.produtoCar {background: #e8e4e4;
             padding: 20px;}

.produtoFotoCar {float: left;
                margin-right: 50px}

.ProdutoTituloCar {float: left;
                   font-size: 3rem;
                   margin-right: 20px;}

.ProdutoPrecoCar {float: left;
                  font-size: 3rem;
                  margin-right: 500px;}

.ProdutoBotaoCar {margin-right: 500px;
                 font-size: 1.5rem;}

.ProdutoVolumeCar {float: left;
                   font-size: 3rem;
                   margin-right: 20px;}

.total {background: #e8e4e4;
        padding: 5px;
        margin-top: 20px;}

.botaoFecharPedido {font-size: 1.5rem;}

.addCarrinho {margin-left: 20px;
              margin-bottom: 20px;}

.carrinho {display: flex;
           background: #ff3434;
           padding: 5px;
           border-radius: 8px;
           border-style: solid;
           border-color: #ff3434;}

.carrinho:hover {font-family: 'Montserrat';
                          background-color: white;
                          cursor: pointer;
                          color: black;
                          border-style: solid;
                          border-color: #ff3434;}

.carrinhoPalavra {margin-left: 5px;
                 font-size 2rem;
                 color: black;}

.carrinhoIMG {width: 40px}

.lupa {width:20px}

.largo {display: flex;
        margin-top: 20px;
        margin-botton: 20px;}

.individuo {margin: 10px;
            padding: 10px;
            background-color: #e8e4e4;
            text-align: center;}

img {width: 200px;}


.conta {display: flex;}

.principal {max-width: 1300px;
            margin: auto;}

.venderBotao {font-family: 'Montserrat';
              padding: 5px 10px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              cursor: pointer;
              border-radius: 8px;
              background: #f0ecec;
              border-style: solid;
              border-color: white;
              color: black;}

.venderBotao:hover {border-style: solid;
                    border-color: white;
                    color: white;
                    background-color: #201c1c;}

.usuario {display: flex;
          margin-top: 10px;
          margin-bottom: 10px;}

.usuarioFoto {width: 60px;}

.usuarioNome {color: white;
             margin-top: 10px;}

.navLista {display: flex;}

.criarContaBotao {font-family: 'Montserrat';
                                padding: 5px 10px;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                font-size: 16px;
                                cursor: pointer;
                                border-radius: 8px;
                                background: #f0ecec;
                                border-style: solid;
                                border-color: white;
                                color: black;
                                margin-right: 20px;}

.criarContaBotao:hover {border-style: solid;
                        border-color: white;
                        color: white;
                        background-color: #201c1c;}

.buscarResultados {margin-top: 20px;}



.entrarContaBotao {font-family: 'Montserrat';
                   padding: 5px 10px;
                   text-align: center;
                   text-decoration: none;
                   display: inline-block;
                   font-size: 16px;
                   cursor: pointer;
                   border-radius: 8px;
                   background: #f0ecec;
                   border-style: solid;
                   border-color: white;
                   color: black;
                   margin-right: 20px;}

.entrarContaBotao:hover {border-style: solid;
                                           border-color: white;
                                           color: white;
                                           background-color: #201c1c;}

.Conta {background: #e8e4e4;
             padding: 20px;
             margin-top: 20px;}

.ContaBotao:hover {border-style: solid;
                         border-color: white;
                         color: white;
                         background-color: #201c1c;}

.imputConta {width: 500px;
                   height: 40px;
                   margin-bottom: 20px;}

.produtoVen {
              padding: 20px;}

.produtoFotoVen {float: left;
                 margin-right: 50px}

.ProdutoTituloVen {float: left;
                    font-size: 3rem;
                    margin-right: 20px;}

.ProdutoPrecoVen {
                   font-size: 3rem;
                   margin-right: 700px;}

.ProdutoBotaoVen {margin-right: 500px;
                  font-size: 1.5rem;}

.ProdutoVolumeVen {float: left;
                    font-size: 3rem;
                    margin-right: 20px;}

.ProdutoVenVen {color: red;
            }

.seusProdutos {background: #e8e4e4;}

.selecao {width: 100px;
          height: 40px;}

.ContaBotao {font=size: 1.5rem;}

.botaoBusca {font-family: 'Montserrat';
        background-color: #ff3434;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 0px 8px 8px 0px;
        border-style: solid;
        border-color: #ff3434;}

.tituloLargo {background: #e8e4e4;}



.produtoBusca {margin: 10px;
                           padding: 10px;
                           background-color: #e8e4e4;
                           text-align: center;
                           float: left;}



.buscar {display: flex;
        width: 500px;
        height: 40px;
        font-size: 16px;}

.menuDireita {display: flex;}

.menu {display: flex;
      margin-right: 15px;
      justify-content: space-between;
      width: 220px;}

div.largo {background-color: #e8e4e4;
          overflow: auto;
          white-space: nowrap;}

input {width: 800%;}

div.largo a {display: inline-block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;}

div.largo a:hover {background-color: #777;}

.footer {display: flex;
                  background: #1a1a1a;
                  justify-content: space-between;
                  align-items: center;
                  padding: 5px;
                  flex-wrap: wrap;
                  margin-top: 25px;}

.principal {min-height: calc(100vh - 70px - 120px);}

.email {display: flex;
        margin-left: 10px;
        margin-right: 10px;}

.telefone {display: flex;
           margin-left: 10px;
           margin-right: 10px;}

.localizacao {display: flex;
              margin-left: 10px;
              margin-right: 10px;}

.icones {width: 50px;}

.contatos {color: white;
          margin-top: 10px;}

button {font-family: 'Montserrat';
        background-color: #ff3434;
        border: none;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 8px;
        color: white;
        border-style: solid;
        border-color: #ff3434;}

.banner {
  position: relative;
  top: 0;
  left: 0;
}


#bannerIMG2 {width: 1300px;
            position: absolute;
            top: 0px;
            left: 0px;}

button:hover {
  background-color: white;
  color: #ff3434;
  border-style: solid;
  border-color: #ff3434;
}

#bannerIMG1 {
    width: 1300px;
   position: relative;
   top: 0;
   left: 0;
   opacity: 1;
   -webkit-animation: opacity 1s ease-in-out;
   -moz-animation: opacity 1s ease-in-out;
   -ms-animation: opacity 1s ease-in-out;
   -o-animation: opacity 1s ease-in-out;
   transition: opacity 1s ease-in-out;
 }

#bannerIMG1.Fade {
   opacity: 0;
 }